p {
  font-family: Lato;
}

.date_tabel_row {
  display: flex;
  border: 1px solid grey;
  font-family: Lato;
}


.date_tabel_row .item{
  flex: 1 1 20%;
  border: 1px solid grey;
  word-break: break-all;
  margin: 0px;
  padding: 4px;
  font-size: 14px;
}

.date_tabel_row .th{
  font-size: 20px;
  font-display: bold;
}